doctype html
head
	title Hera - Hệ thống Quản lí Kì thi Tin Học
	link(rel='stylesheet', href='/public/css/fonts.css')
	link(rel='stylesheet', href='/public/css/electron.css')
	link(rel='stylesheet', href='/public/css/flexboxgrid.min.css')
	script(type='text/javascript' src='/public/js/jquery.min.js' onload='window.$ = window.jQuery = module.exports;')
body
	#mainApp
	script(type='text/javascript' src='/public/js/app.min.js')
